APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=
DB_HOST=127.0.0.1
DB_PORT=3306

DB_PUSTIKOM_PMB=service_pustikom_pmb
DB_PUSTIKOM_CONFIG=service_pustikom_configuration

DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
